.hiragana-picker {
  position: relative;
  display: inline-block;
}

.hiragana-picker__item {
  padding: 2px;
}

.hiragana-picker__btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  background-color: #FFF;
  color: #AAAAAA;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.hiragana-picker__header {
  background-color: #DDD;
  border: 1px solid #999;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hiragana-picker__list-wrap {
  position: absolute;
  top: 55px;
  left: -15px;
  padding: 18px 18px 14px 18px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
  background-color: #F3F4F7;
  z-index: 1;
}

.hiragana-picker__list-wrap::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent #F3F4F7 transparent;
  position: absolute;
  top: -10px;
  left: 27px;
  z-index: 0;
}

.hiragana-picker__list-wrap::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8.5px 10px 8.5px;
  border-color: transparent transparent #999 transparent;
  position: absolute;
  top: -10px;
  left: 26px;
  z-index: 0;
}

.hiragana-picker__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  z-index: 1;
}

.hiragana-picker__item {
  display: flex;
  flex-direction: column;
}

.hiragana-picker__list-btn {
  background-color: #FFF;
  appearance: none;
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-bottom: 4px;
  border-radius: 3px;
  border: none;
}

.hiragana-picker__list-btn:disabled {
  background-color: #E5E5E5;
  color: #333333;
}

.hiragana-picker__list-dummy {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-bottom: 4px;
}

.car-number-picker {
  display: inline-flex;
  align-items: center;
}

.car-number-span {
  display: inline-block;
  padding: 10px;
  color: #999;
  margin-right: 5px;
}

.number-picker {
  position: relative;
}

.number-picker__list-wrap {
  position: absolute;
  top: 70px;
  left: -15px;
  border: 1px solid #999;
  padding: 20px 18px 18px 20px;
  z-index: 1;
  background-color: #F3F4F7;
  border-radius: 3px;
}

.number-picker__list-wrap::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent #F3F4F7 transparent;
  position: absolute;
  top: -10px;
  left: 27px;
  z-index: 0;
}

.number-picker__list-wrap::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8.5px 10px 8.5px;
  border-color: transparent transparent #999 transparent;
  position: absolute;
  top: -10px;
  left: 26px;
  z-index: 0;
}

.number-picker__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: relative;
  z-index: 1;
}

.number-picker__item {
  display: flex;
  flex-direction: row;
}

.number-picker__btn {
  width: 40px;
  height: 72px;
  appearance: none;
  -webkit-appearance: none;
  background-color: #FFF;
  border: none;
  color: #999;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 3px;
  font-weight: bold;
}

.number-picker__list-btn {
  background-color: #FFF;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-bottom: 4px;
  border-radius: 3px;
  border: none;
  margin-right: 4px;
}

.number-picker__enter-icon {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #555555;
}